PORT=3000
NODE_ENV=development
API_VERSION=v1
DB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/task_tracker_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_EXPIRES_IN=1h
CORS_ORIGIN=http://localhost:5173
DNS_SERVERS=8.8.8.8,8.8.4.4
